*{
  /* outline: 1px solid red; */
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: 'AR One Sans', sans-serif;
  font-family: 'Oxygen', sans-serif;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body{
  display: flex;
  background-color: rgb(245, 239, 255);
}

.head-of-aside{
  margin-top: 40px;
}

aside{
  width: 35%;
  background-color:rgb(165, 148, 249);
  overflow: hidden;
}

h4{
  cursor:pointer;
}

.flex-now:hover,.head-of-aside:hover{
  color: rgb(245, 239, 255);
}

.head-of-aside{
  display: flex;
  align-items: center;
  margin-left: 15%;
}

.head-of-aside-main{
  margin-top: 50px;
}

.flex-now{
  display: flex;
  align-items: center;
  height: 35px;
  color: black;
  margin-left: 15%;
}

span{
  height: 25px;
  margin-right: 15px;
  /* margin-left: 15px; */
  cursor: pointer;
}

header{
  background-color: rgb(205, 193, 255);
}

.top-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(205, 193, 255);
  height: 3em;
}

.search{
  display: flex;
  align-items: center;
  width: 70%;
  
}
.left-top-header{
  display: flex;
  align-items: center;
}
.span-of-span{
  margin-left: 5px;
  margin-right: 5px;
}

.txt{
  width: 500px;
  border-radius: 11px;
  background-color: rgb(245, 239, 255);
}

.down-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.down-right{
  display: flex;
  align-items: center;
  margin-left: 35px;
  margin-bottom: 15px;
}
h6{
  font-size: 16px;
}
h2{
  font-size:24px ;
}


.down-left{
  margin-right: 20px;
}

button{
  background-color: rgb(245, 239, 255);
  width: 100px;
  height: 30px;
  margin: 20px;
  border-radius: 15px;
  font-weight: 600;
  color: black;
  cursor: pointer;
}
button:hover{
  background-color: black;
  color: rgb(205, 193, 255);
}

article{
  display: flex;
  /* height: 100%; */
}

.title{
  margin-top: 15px;
  margin-left: 15px;
  font-size: 24px;
  font-weight: 700;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:33% 33% 33%;
  column-gap: 15px;
  row-gap: 15px;
  margin: 15px;
  height: 500px;
}

.box-art{
  display: flex;
  background-color: rgb(229, 217, 242);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}

.aside-in-box{
  background-color: rgb(205, 193, 255);
  width: 8px;
  height: 100%;
  
}

.top-tit{
  font-weight: 600;
  font-size: 18px;
}

.but-tit{
  font-size: 14px;
}

.down-icon{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.no-aside{
  padding: 10px;
}

.grid-right{
  display: grid;
  margin: 15px;
  grid-template-rows:1fr 1fr;
}

.tit-right-top{
  font-size: 24px;
  font-weight: 700;
  /* margin-bottom: 10px; */
}

.blok{
  background-color: rgb(229, 217, 242);
  border-radius: 10px;
}

.on-box{
  display: flex;
  align-items: center;
  padding: 7.5px;
  
}

.top-on-tit{
  font-weight: 600;
}
.but-on-tit{
  font-size: 12px;
}

.txt-grid{
 margin: 10px;
 padding: 5px;
}